{%extends "base_template.html" %}
{% block body %}
{% if message  %}
{% if message[0] == 1 %}
    <p class="alert alert-danger">{{message[1]}}</p>
{% endif %}
{% endif %}
<div style= "text-align:center;">
    <form action= "token_votation" method="post" id="token_votation">
        <table style ="display:inline-table;">
            <tr>
                <td>Token</td>
                <td><input type="password" name="token" value=""></td>
            </tr>            
        </table>
        <br>
        <td><button class="btn btn-warning" type="submit">Verifica token</button></td>
    </form>
</div>
{% endblock %}